<template>
  <div class="container">
    <todo-list></todo-list>
  </div>
</template>

<script>
import TodoList from '@/components/TodoList.vue';

export default {
  name: 'home',
  components: {
    'todo-list': TodoList,
  },
};
</script>

<style>
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>
