<template>
  <div class="chekContainer">
    <div @dblclick="$emit('dblclick')">{{ title }}</div>
    <label>
      <input type="checkbox" @change="change()" :checked="val" v-model="val">
      <span class="checkmark"></span>
    </label>
  </div>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
    },
    value: {
      type: Boolean,
      default: null,
    },
  },
  created() {
    this.val = this.value;
  },
  data() {
    return {
      val: false,
    };
  },
  watch: {
    val() {
      this.$emit('input', this.val);
    },
  },
  methods: {
    change() {
      console.log(`change ${this.val}`);
      this.$emit('change', this.val);
    },
  },
};
</script>

<style>
  /* Custom checkbox */
  .chekContainer {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    line-height: 1.2;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  div.chekContainer div {
    padding-top: 3px;
  }

  .chekContainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }

  .chekContainer:hover input ~ .checkmark {
    background-color: #ccc;
  }

  .chekContainer input:checked ~ .checkmark {
    background-color: #2196f3;
  }

  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  .chekContainer input:checked ~ .checkmark:after {
    display: block;
  }

  .chekContainer .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
</style>
