<template>
  <div class="fab" @click="$emit('click')">+</div>
</template>

<script>
export default {
  methods: {
    click() {
      console.log('FlatButton clicked');
    },
  },
};
</script>

<style>
  .fab {
    width: 50px;
    height: 50px;
    background-color: #c75b5b;
    border-radius: 50%;
    box-shadow: 0 4px 10px 0 #666;
    transition: all 0.1s ease-in-out;

    font-size: 50px;
    color: white;
    text-align: center;
    line-height: 50px;

    position: absolute;
    cursor: pointer;

    /* This could be variable */
    top: 40px;
    right: 30px;
  }

  .fab:hover {
    /* box-shadow: 0 6px 14px 0 #666; */
    transform: scale(1.05);
  }
</style>
