<template>
  <b-form @reset="onReset">
    <div class="form-group">
      <input
        v-model="todo.title"
        type="text"
        class="form-control"
        aria-describedby="todoHelp"
        placeholder="Todo"
      >
      <small class="form-text text-muted">Enter at least 3 characters</small>
    </div>

    <div class="form-group row mt-5">
      <b-button
        class="btn btn-primary mr-3"
        @click="save"
        :disabled="saveDisable"
      >Save</b-button>
      <b-button class="btn btn-primary mr-3" v-if="todo.id !== null" @click="remove" :disabled="removeDisable">Remove</b-button>
      <b-button type="reset" variant="danger">Reset</b-button>
    </div>
  </b-form>
</template>

<script>
export default {
  props: {
    value: {
      type: Object,
      default: null,
    },
  },
  created() {
    this.todo = this.value;
  },
  data() {
    return {
      todo: {
        id: null,
        title: null,
        completed: false,
      },
      saveDisable: false,
      updDisable: false,
      removeDisable: false,
    };
  },
  methods: {
    save() {
      console.log(`TodoForm - save todo: ${JSON.stringify(this.todo)}`);
      this.saveDisable = true;
      this.$emit('save', this.todo);
    },
    remove() {
      console.log(`TodoForm - remove todo: ${JSON.stringify(this.todo)}`);
      this.removeDisable = true;
      this.$emit('remove', this.todo);
    },
    onReset(evt) {
      evt.preventDefault();
      /* Reset our form values */
      this.todo = {
        id: null,
        title: null,
        completed: false,
      };
    },
  },
  watch: {
    value(newTodo) {
      this.todo = newTodo;
    },
  },
};
</script>

<style>
</style>
