<template>
  <div>
    <b-alert class="mt-1" :show="alert.show" :variant="alert.danger">{{alert.msg}}</b-alert>

    <b-card class="mt-2">
      <h5 class="card-header bg-primary text-center font-weight-bold text-white">TODO - LIST</h5>
      <h5
        class="card-header border text-primary"
      >Today's Reminders {{doneCount}}/{{todosCount}} Tasks</h5>
      <float-button @click="showModal"></float-button>
      <div class="card-body m-0 p-0">
        <ul class="list-group border-0">
          <div v-for="(todo, index) in paginatedData" :key="index">
            <li class="list-group-item">
              <check-box
                @change="done(todo)"
                @dblclick="edit(todo)"
                :title="todo.title"
                v-model="todo.completed"
              ></check-box>
              <!-- <div class="todo-item" @dblclick="edit(todo)">{{ todo.title }}</div> -->
            </li>
          </div>
        </ul>

        <!-- Pagination -->
        <div class="container mt-3">
          <div class="row">
            <div class="col-sm">
              <b-button @click="prevPage" :disabled="pageNumber === 0" variant="primary">Prev</b-button>
            </div>
            <div class="border scol-sm p-1">{{pageNumber}} / {{pageCount - 1}}</div>
            <div class="col-sm">
              <b-button
                @click="nextPage"
                :disabled="pageNumber >= pageCount - 1"
                variant="primary"
              >Next</b-button>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal - Todo Form -->
      <b-modal ref="myModalRef" hide-footer :title="modalTitle">
        <div class="modal-body">
          <todo-form v-model="todo" @remove="remove" @save="save"></todo-form>
        </div>
      </b-modal>
    </b-card>
  </div>
</template>

<script>
import FloatButton from '@/components/FloatButton.vue';
import CheckBox from '@/components/CheckBox.vue';
import TodoForm from '@/components/TodoForm.vue';

export default {
  data() {
    return {
      pageNumber: 0,
      size: 10,
      todos: [],
      todo: {
        id: null,
        title: null,
        completed: false,
      },
      alert: {
        danger: '',
        show: false,
        msg: '',
      },
    };
  },
  created() {
    this.$store
      .dispatch('todo/getTodos')
      .then((todos) => {
        this.todos = todos;
      })
      .catch(() => {
        this.showAlert('danger', 'Error getting Todos');
      });
  },
  computed: {
    modalTitle() {
      return this.todo == null || this.todo.id == null
        ? 'New Todo'
        : 'Edit Todo';
    },
    doneCount() {
      return (this.todos || []).filter(x => x.completed === true).length;
    },
    pageCount() {
      const l = (this.todos || []).length;

      const s = this.size;
      return Math.ceil(l / s);
    },
    todosCount() {
      return (this.todos || []).length;
    },
    paginatedData() {
      const start = this.pageNumber * this.size;
      const end = start + this.size;
      return (this.todos || []).slice(start, end);
    },
  },
  methods: {
    edit(todo) {
      console.log(`TodoList - edit todo: ${JSON.stringify(todo)}`);
      this.showModal();
      this.todo = todo;
    },
    done(todo) {
      console.log(`TodoList - done todo: ${JSON.stringify(todo)}`);
      this.$store
        .dispatch('todo/updateTodo', todo)
        .then((updatedTodo) => {
          console.log(`TodoList - done - updatedTodo ${updatedTodo}`);
        })
        .catch(() => {
          // this.showAlert('danger', 'Error while changing Todos');
          // ignore (fake data)
        });
    },
    save() {
      if (this.todo.id !== null) {
        this.update();
      } else {
        this.add();
      }
    },
    update() {
      console.log(`TodoList - update todo: ${JSON.stringify(this.todo)}`);
      this.$store
        .dispatch('todo/updateTodo', this.todo)
        .then((updatedTodo) => {
          console.log(
            `TodoList - update - updatedTodo ${JSON.stringify(updatedTodo)}`,
          );
          this.hideModal();
        })
        .catch(() => {
          this.hideModal();
          this.showAlert('danger', 'Error while changing Todos');
        });
    },
    add() {
      this.$store
        .dispatch('todo/addTodo', this.todo)
        .then((addedTodo) => {
          console.log(`TodoList - add - addedTodo ${JSON.stringify(addedTodo)}`);
          this.hideModal();
        })
        .catch(() => {
          this.hideModal();
          this.showAlert('danger', 'Error to add Todos');
        });
    },
    remove(todo) {
      console.log(`TodoList - remove - todo ${JSON.stringify(todo)}`);
      this.$store
        .dispatch('todo/removeTodo', todo)
        .then((removedTodo) => {
          console.log(
            `TodoList - remove - removedTodo ${JSON.stringify(removedTodo)}`,
          );
          this.hideModal();
        })
        .catch(() => {
          this.hideModal();
          this.showAlert('danger', 'Error to remove Todos');
        });
    },
    showModal() {
      this.todo = {
        id: null,
        title: null,
        completed: false,
      };
      this.$refs.myModalRef.show();
    },
    hideModal() {
      this.$refs.myModalRef.hide();
    },
    nextPage() {
      console.log('TodoList - nextPage');
      // eslint-disable-next-line no-plusplus
      this.pageNumber++;
    },
    prevPage() {
      console.log('TodoList - prevPage');
      if (this.pageNumber > 0) {
        // eslint-disable-next-line no-plusplus
        this.pageNumber--;
      }
    },
    showAlert(danger, msg) {
      this.alert = {
        danger,
        show: true,
        msg,
      };
    },
  },
  components: {
    'float-button': FloatButton,
    'check-box': CheckBox,
    'todo-form': TodoForm,
  },
};
</script>

<style>
  .bg-primary {
    background-color: #5733c5 !important;
  }

  .text-secondary {
    text-decoration: line-through;
  }

  .todo-item {
    padding-left: 30px;
    height: 90px;
    line-height: 90px;
  }

  li.list-group-item {
    cursor: pointer;
    -webkit-appearance: none;
    padding: 0.7rem 0.7rem 0rem 1.25rem;
  }

  .list-group-item:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
</style>
